*{
    line-height: 1.5;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    align;
    width: 200px;
    height: 200px;
}
ul {
    list-style: none;
}
h1 {
    color: darkred;
}
.main{
    border: 2px solid darkblue;
    width: fit-content;
}